@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


p{
    font-family: 'Benne', serif;
    font-size: 18px;
}

.singleProduct img{
    height: 400px;
    width: 100%;
}

/* Image card */
.product-img img {
    /* min-height: 100px; */
    width: 100%;
    height: 250px;
    /* max-width: 100%;
      max-height: 100%; */
  }
  
.cat-name{
    background-color: #364f6b;
    color: white;
    font-weight: bold;
}

.p_name{
    /* font-weight: 800; */
    font-size: 18px;
    color: #492540;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.price{
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
}

.btn-outline-warning{
    color: #CB3B3B;
    border-color: #CB3B3B;;
}
.btn-outline-warning:hover{
    color: white;
    background-color: #CB3B3B;;
}