@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.p_cart{
    font-size: 18px;
    color: #492540;
    text-align: left;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.price_cart{
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}

#adjust{
    border-bottom: 2px solid #574b90;
}