@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');



.layoutH2{
    color: #fc5185;
    border: none;
    font-weight: 700;
    font-family: 'Viaoda Libre', cursive;
  }

  .coverImage{
    width: 100%;
    height: 350;
    /* background-image: url('../../public/images/cover_1.webp'); */
  }


.descriptionP{
    /* padding-left: 30%; */
  
    font-weight: 550;
    color: white;
}  