
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.brandName{
    font-size: 32px !important;
    font-family: 'Lobster', cursive;
    color: #dee1ec;
    margin-left: 5%;
}

.bg{
    background-color: #20232A;
    color: #20232A;
}

.nav-link:hover{
   border: none;
   border-bottom: 1px solid white ;
}