
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar_nav{
    background-color: #222;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  }
  

.brandName{
    font-size: 32px !important;
    font-family: 'Lobster', cursive;
    color: #ff1f5a !important;
    margin-left: 5%;
}

.navItem{
  font-size: 16px;
  font-weight: 600;
}

.nav-link:hover{
   border: none;
   border-bottom: 1px solid #20232A ;
}