body{
    background-color: whitesmoke;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    color: #002651;
    border-bottom: 1px solid #002651;
}


.btn, .jumbotron, .nav :hover{
    border-radius: 5px;
} 

.dashBoardCard{
    background-color: #feb062;
}
.sideBarLink{
    color: whitesmoke;
    font-size: 18px;
}

.sideBarLink:hover{
    text-decoration: none;
    color: whitesmoke;
}

/* Image card */
.product-img img{
    /* min-height: 100px; */
    width:100%;
    height: 250px
    /* max-width: 100%;
    max-height: 100%; */
}


.priceValue, .orderId{
    color: tomato;
}

.err{
    font-size: 14px;
    color: #ff304f;
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  
}

/* .jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.jumbotron img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */

/* 
.list-group .bg-secondary :hover{
    background-color: #575151;
} */

.list-group{
    cursor: pointer;
}

.badge-danger{
    cursor: pointer;
}




.cart-badge, .cart-badge:hover{
border-radius: 50%;
padding: 2px;
font-size: 12px;
font-style: italic;
color: white;
background: black;
}