body{
    background-color: whitesmoke;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    color: #002651;
    border-bottom: 1px solid #002651;
}


.btn, .jumbotron, .nav :hover{
    border-radius: 5px;
} 

.dashBoardCard{
    background-color: #feb062;
}
.sideBarLink{
    color: whitesmoke;
    font-size: 18px;
}

.sideBarLink:hover{
    text-decoration: none;
    color: whitesmoke;
}

/* Image card */
.product-img img{
    /* min-height: 100px; */
    width:100%;
    height: 250px
    /* max-width: 100%;
    max-height: 100%; */
}


.priceValue, .orderId{
    color: tomato;
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
/* 
.list-group .bg-secondary :hover{
    background-color: #575151;
} */

.list-group{
    cursor: pointer;
}



@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.cart-badge, .cart-badge:hover{
border-radius: 50%;
padding: 2px;
font-size: 12px;
font-style: italic;
color: white;
background: black;
}